body {
  background-color:#919191;
  color:white;
  font-family:sans-serif;
  margin:-8px;
  padding:16px;
}
#infoBlock {
  background-color:rgb(219,142,103);
  color:white;
  padding:8px;
  width:100%;
  margin-left:-8px;
  border-bottom:black solid 2px;
  text-align:center;
}
h1 {
  font-size:40px;
  text-shadow:1px 1px black;
}
#header1 {
  border-bottom:black solid 2px;
  padding-bottom:10px;
  border-width:100%;
  margin-left:-8px;
  margin-right:-8px;
  padding-left:16px;
  padding-right:16px;
  padding-top:10px;
  margin-top:-10px;
  background-color:rgb(170,125,201);
  text-align:center;
}
#infoBlock2 {
  background-color:rgb(103,200,219);
  padding-top:8px;
  margin-right:-8px;
  margin-left:-8px;
  padding-left:10px;
  padding-right:10px;
  color:white;
  padding-bottom:2px;
  border-bottom:black solid 2px;
  text-align:center;
}
#lists {
}
#moviesList {
  overflow:auto;
  text-align:left;
  padding-left:2%;
  font-size:+18px;
  margin-left:-10px;
  float:left;
  width:48%;
}
#familyList {
  overflow:auto;
  text-align:left;
  float:left;
  border-left:solid black 2px;
  width:48%;
  height:600px;
  padding-left:2%;
}
ol {
  padding-left:24px;
}
ul {
  padding-left:24px;
  margin-left:20px;
}
.jumpOut {
  margin-left:5%;
  list-style-type:none;
}
#finale {
  background-color:rgb(109, 209, 172);
  margin-left:-10px;
  margin-top:0px;
  width: 100%;
  float:left;
  border-top:solid black 2px;
  padding:8px;
}
#finale p{
  padding-left:8px;
}
#finale ul {
  list-style:none;
}
#finale li {
  display:inline-block;
  padding:5px 15px 5px 5px;
  margin-right:-8px;
}
a {
  text-decoration:none;
  color:white;
}
a:hover {
  color:gold;
  background-color:rgb(90,190,153);
  padding:5px 5px 5px 5px;
  margin-left:-5px;
  margin-right:-5px;
}
#navBar {
  background-color:rgb(212, 237, 130);
  border-bottom:solid black 2px;
  width:100%;
  margin-left:-8px;
  margin-right:-8px;
  padding-top:10px;
  padding-right:16px;
  text-align:center;
}
#navBar ul {
  list-style:none;
}
#navBar li {
  display:inline-block;
  font-size:20px;
  padding:0px 10px 10px 10px;
}
